@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <br />
    <div class="container" style="text-align:center">
        <div class="card card-container">
            <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error!</strong>
                Password code has already been used or has expired.
                <br />
                <a class="btn btn-default" href="/Account/forgotpassword">Get new code</a>
            </div>
        </div>
    </div>
</body>
</html>
