
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />

    <style>
        /* Credit to bootsnipp.com for the css for the color graph */
        .buttons_divider {
            margin-top: 10%;
            margin-bottom: 10%;
            border-bottom: solid #ccc 1px;
        }

        .sign_up_title {
            text-align: center;
            margin-bottom: 5%;
        }

        .sign_in_but {
            border-radius: 45%;
            margin-left: 5px;
        }

        .sign_up_form {
            margin-bottom: 30%;
        }

            .sign_up_form input {
                border-radius: 0px;
            }

        .bg-lightgray {
            background-color: LightGray;
        }

        p {
            text-align: center;
        }

        header {
            margin-bottom: 5%;
        }

        .header_bar {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        footer {
            margin-top: 5%;
        }

        .footer_terms {
            margin-top: 20px;
        }

        .footer_rights {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
        }

        .terms_and_conditions {
            text-align: center;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div>

        <header class="container-fluid bg-lightgray">
            <div class="row header_bar">

            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form role="form" class="sign_up_form">
                        <h2 class="sign_up_title">Reset password</h2>
                        <p>Enter your email address we will send you the password reset link.</p>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email address" tabindex="4">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12"><a href="#" class="btn btn-success btn-block btn-lg">Reset</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>