@model QA.Web.ViewModels.PasswordResetVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <h2 class="sign_up_title">Reset password</h2>
                <p>Please type in new password.</p>

                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger alert-steps" data-valmsg-replace="true" style="color: red">@ViewBag.Error</div>
                }
                @using (Html.BeginForm("PasswordChange", "Account", FormMethod.Post, new { @class = "form" }))
                {
                    @Html.HiddenFor(x => x.Code)

                    <div class="form-group">
                        <label>Password</label>
                        @Html.TextBoxFor(x => x.Password, new { @type = "password", @class = "form-control", @placeholder = "Password" })
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @type = "password", @class = "form-control", @placeholder = "Confirm Password" })

                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <input type="submit" value="Submit" class="btn btn-success btn-block btn-lg" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</body>
</html>
