@model QA.Web.ViewModels.PasswordChangeVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div>

        <header class="container-fluid bg-lightgray">
            <div class="row header_bar">

            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    @using (Html.BeginForm("PasswordCustomChange", "Account", FormMethod.Post, null))
                    {
                        <h2 class="sign_up_title">Change password</h2>
                        <p>Enter current and new password.</p>

                        if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger alert-steps" data-valmsg-replace="true" style="color: red">@ViewBag.Error</div>
                        }

                        <div class="form-group">
                            @Html.TextBoxFor(x => x.CurrentPassword, new { @class = "form-control input-lg", placeholder = "Current password", @type="password" })
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control input-lg", placeholder = "New password", @type="password" })
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control input-lg", placeholder = "Confirm new password", @type="password" })
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <input type="submit" value="Reset" class="btn btn-success btn-block btn-lg" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>